.item-form {
  margin: 25px 0;
  .field_wrapper {
    min-width: 40vw;
  }
  button:not(.mat-datepicker-toggle) {
    width: 100%;
    height: 50px;
    background-color: #ff4081;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
  }
}

