// $fieldWidth: 30%;
// .item-form {
//   .field_wrapper {
//     margin: auto;
//     width: $fieldWidth;
//   }
//   button:not(.mat-datepicker-toggle) {
//     width: $fieldWidth;
//     height: 50px;
//     background-color: #ff4081;
//     color: #fff;
//     font-size: 18px;
//     text-transform: uppercase;
//   }
// }
form {
  .field_wrapper {
    width: 100%;
    margin: 10px 0;
  }
  .submit_button {
    background: #ff4081;
    color: #ffffff;
  }
}
